
.loading-auth {
  display: grid;
  place-items: center;
  height: 100vh;
  background: url('../../public/loading-gif.gif') center/contain no-repeat;
  background-size: 100px 100px;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-rows:300px 80px 150px;
}

.loading-text {
  position: relative;
  z-index: 1;
  grid-column: 2;
  grid-row: 2;
  font-size: 20px;
  color: #f9f4da;
  font-family: "Dela", sans-serif;
}
