/* Login.css */

/*FONT STYLE*/
@font-face {
  font-family: "YoungSerif";
  src: url("../fonts/YoungSerif-Regular.ttf") format("truetype");}

@font-face {
  font-family: "Dela";
  src: url("../fonts/DelaGothicOne-Regular.ttf") format("truetype");}
 
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMono-ExtraLight.ttf") format("truetype");
}

/* BACKGROUND */
.back {
  background-color: rgba(15, 13, 14, 1);
  border: 2.5vw solid rgba(35, 31, 32, 1);
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  width: 80%;
  margin: 0 auto;
}
/* TEXT transcendance */

.container_ft {
  margin-bottom: 5%;
  margin-left: 20%;
  margin-top:0;
  width: 60%;
  padding: 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #231f20;
  cursor: pointer;
  color: #fff;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.container_ft:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);;
}

.text-ft {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #f9f4da;
  margin-left: 10px;
}

.text-ft2 {
font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #0ba759;
  margin-left: 20px;
}

/*  TEXT PONG GAME */

.text-container {
  margin-left: 32%;
  margin-bottom: 0;
  margin-top: 10%;
  padding: 0; 
  display: flex;
  align-items: center;
  flex-direction: row;
}
.text-container p {
  margin: 0;
}
.text-pong {
  font-family: "Kanit", sans-serif;
  font-size: 60px;
  color: #fff; 
  color: #f9f4da;
}

.text-game {
  font-style: italic;
  font-family: "Dela", sans-serif;
  font-size: 100px;
  color: #f088a0;
}
/*TEXT INTRO*/

.italic-text {
  font-family: "YoungSerif", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #f9f4da;
  margin-top: 0;
  line-height: 1;
  padding: 100;
}

/*BOUTON 42 LOGIN*/

.centered-image {
  width: "200";
  height: "100";
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.login-button {
  background-image: url('../../public/42Logow.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 10px center;
  width: 150px;
  margin: 0 auto;
  text-align: 100px center;
  padding: 20px 10px 20px 50px;
  border-radius: 5px;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  font-size: 22px;
  font-family: sans-serif;
}

.login-button:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}


button { 
  width: 200px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border-radius: 100px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
}
button:hover {
  color: #fff;
  background-color: #01263a;
}


