.navbar {
  background-color: #231f20;
  color: #f18aa2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

/*  TEXT PONG GAME */

.text-containerl {
  margin-left: 9%;
  margin-bottom: 0;
  margin-top: 0%;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.text-containerl p {
  margin: 0;
}
.text-pongl {
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  color: #fff;
  color: #f9f4da;
}

.text-gamel {
  font-style: italic;
  font-family: "Dela", sans-serif;
  font-size: 40px;
  /*color: #f088a0; ROSE */ 
  /*color: #12b5e5; BLEU */
  color: #fcba28;
}

/* PHOTO PROFILE */

.pic-profile {
  background-image: url('../../public/msebbane.jpg'); /*A RECUPERER DIFFEREMENT*/
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 20px 200px 50px;
  /*border-radius: 20px ;*/
}

/* NAV BAR */
.nav-links a{
  text-decoration: none;
  font-family: "Dela";
  margin-right: 50px;
  text-align: center;
  color: #f9f4da;
}

.nav-links a:hover {
  color: #f088a0;
}

