.container-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 50px;
  margin-top: 3%;
  justify-content: center;
  align-items: center;

  
}
@font-face {
  font-family: "Dela";
  src: url("../fonts/DelaGothicOne-Regular.ttf") format("truetype");
}

body {
  background-color: rgba(15, 13, 14, 1);
  display: flex;
  flex-direction: column;
}

/* Styles pour les écrans plus petits (par exemple, les smartphones) */
@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}
.container {
  text-align: center; /* Centre le texte horizontalement */
  display: flex; /* Utilise Flexbox pour centrer verticalement */
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement le contenu (si nécessaire) */
  height: 100%;
  padding: 20px;
  font-size: 40px;
  font-family: "Dela";
  color: #f38ba3;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.1);
}


.container-1 {
  background-color: #231f20;
  width: 280px;
  height: 250px;
}

.container-2 {
  background-color: #12b5e5;
  width: 350px; 
  height: 200px; 
}

.container-3 {
  background-color: #f9f4da;
  width: 350px; 
  height: 200px;
}

.container-4 {
  background-color: #ed203d;
  width: 350px;
  height: 200px;
}

.container-5 {
  background-color: #f38ba3;
  width: 350px; /* Largeur personnalisée */
  height: 200px; /* Hauteur personnalisée */
}

.container-6 {
  background-color: #fcba28;
  width: 350px; /* Largeur personnalisée */
  height: 200px; /* Hauteur personnalisée */
}

