/* Login.css */

/*FONT STYLE*/
@font-face {
  font-family: "YoungSerif";
  src: url("../fonts/YoungSerif-Regular.ttf") format("truetype");}

@font-face {
  font-family: "Dela";
  src: url("../fonts/DelaGothicOne-Regular.ttf") format("truetype");}
 
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMono-ExtraLight.ttf") format("truetype");
}

/* TEXT transcendance */
.container-login {
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 900px 1fr;
  grid-template-rows:300px 80px 150px;
}
.container_ft {
  width: 60%;
  border-radius: 10px;
  display: grid;
  background-color: #231f20;
  cursor: pointer;
  color: #fff;
  padding: 0;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  flex-direction: row;
}
/*
.container_ft:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);;
}*/

.text-ft {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #f9f4da;
  margin-left: 10px;
}

.text-ft2 {
font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #0ba759;
  margin-left: 20px;
}

/*  TEXT PONG GAME */

.text-container {
  padding: 0; 
  display: grid;
  align-items: center;
  flex-direction: row;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  height: 0vh;
}
.text-container p {
  margin: 0;
}
.text-pong {
  font-family: "Kanit", sans-serif;
  font-size: 70px;
  color: #fff; 
  color: #f9f4da;
}

.text-game {
  font-style: italic;
  font-family: "Dela", sans-serif;
  font-size: 100px;
  /*color: #f088a0;*/
  /*color: #feb86d;*/
  /*color: #ca67d3;*/
  color: #e6529e
}
/*TEXT INTRO*/

.italic-text {
  font-family: "YoungSerif", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #f9f4da;
  margin-top: 0;
  line-height: 1;
  padding: 100;
}

/*BOUTON 42 LOGIN*/

.centered-image {
  width: "200";
  height: "100";
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.login-button {
  background-image: url('../../public/42Logow.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 10px center;
  width: 150px;
  margin: 0 auto; 
  text-align: 100px center;
  padding: 20px 10px 20px 50px;
  border-radius: 5px;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: sans-serif;
  grid-column: 2;
  grid-row: 3;
}

.login-button:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}


button { 
  width: 200px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  /*box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.2);*/
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border-radius: 100px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
}
button:hover {
  color: #fff;
  background-color: #01263a;
}

/*BUTTON SIGN IN*/


.signin-button {
  background-image: url('../../public/signin.png');
  background-size: 35px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 10px center;
  width: 150px;
  margin: 0 auto;
  text-align: 100px center;
  padding: 20px 10px 20px 50px;
  border-radius: 5px;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: sans-serif;
  grid-column: 2;
  grid-row: 3;
}

.signin-button:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.sign-button {

  background-color: transparent;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
}

.sign-button:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}


