 .canvas {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

.button {
    height:80vh
}

.scorej1 {
  position: absolute;
  top: 650px;
  right: 1300px;
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.scorej2 {
  position: absolute;
  top: 650px;
  right: 500px;
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.scorej3 {
  position: absolute;
  top: 650px;
  right: 900px;
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.Feature {
  position: absolute;
  top: 650px;
  right: calc(50% - 200px);
  background-color: rgb(180, 19, 19);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  width: 100px;
  text-align: center; /* Centrer le texte à l'intérieur du bouton */
}

.play {
  position: absolute;
  top: 650px;
  right: calc(50% + 100px);
  background-color: rgb(0, 80, 155);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  width: 100px;
  text-align: center; /* Centrer le texte à l'intérieur du bouton */
}


.winner-message{
  position: absolute;
  top: 10px;
  right: calc(50% - 50);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}