.Button-settings {
  background-color: transparent !important;
  color: white !important;
  border: 2px solid white !important;
  border-radius: 10px !important;
  transition: background-color 0.3s, color 0.3s !important;
  width:200px;
  height:60px;
  --bs-btn-active-bg: transparent !important;
  --bs-btn-active-border-color: white !important;
}

.Button-settings:hover {
  border: 2px solid white !important;
  color: white !important;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  outline: none !important;
  box-shadow: none !important;
}


.Button-settings-2FA-ON {
  background-color: transparent!important;
  color: green !important;
  border: 2px solid green !important;
  border-radius: 10px !important;
  transition: background-color 0.3s, color 0.3s !important;
  width:200px;
  height:60px;
  --bs-btn-active-bg: transparent !important;
  --bs-btn-active-border-color: green !important;
}

.Button-settings-2FA-ON:hover {
  background-color: rgba(0, 128, 0, 0.2) !important;
  border: 2px solid green !important;
  color: white !important;
}

.Button-settings-2FA-OFF {
  background-color: transparent !important;
  color: red !important;
  border: 2px solid red !important;
  border-radius: 10px !important;
  transition: background-color 0.3s, color 0.3s !important;
  width:200px;
  height:60px;
  --bs-btn-active-bg: transparent !important;
  --bs-btn-active-border-color: red !important;
}

.Button-settings-2FA-OFF:hover {
  background-color: rgba(255, 0, 0, 0.2) !important;
  border: 2px solid red !important;
  color: white !important;
}

.larger-profile-pic {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.mask-custom {
  background: rgba(24, 24, 16, .2);
  background-clip: border-box;
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
.active-indicator {
  position: absolute;
  top: 85%;
  left: 75%;
  transform: translate(-50%, -50%);
  bottom: 1px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0px 0px 7px #fff inset,
  	      0px 0px 7px #fff;
  background-color: #28a745;
}

.active-indicator.offline {
  background-color: grey;
}





.default-avatar {
  background-image: url('../../public/default.jpg');
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

