.status {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.status.winner {
    background-color: #4caf50;
    color: #fff;
}

.status.tie {
    background-color: #ff9800;
    color: #fff;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.board-row {
    display: flex;
}

.square {
    border: none;
    outline: none;
    font-size: xx-large;
    text-align: center;
	width: 30vw;
	height: 30vw;
	max-width: 250px; /* Définir une largeur maximale pour éviter que les carrés ne deviennent trop grands sur de grands écrans */
    max-height: 250px;
    background-color: rgb(117, 84, 177);
    transition: 0.5s ease-in-out;
    margin: 2px; /* Ajoutez une marge pour l'espace entre les carrés */
}

.next-player-container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.pop-up-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparence pour assombrir l'arrière-plan */
    z-index: 999; /* Assure que le pop-up s'affiche au-dessus de tout */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    max-width: 400px;
    width: 100%;
}

.pop-up button{
    margin-top: 10px;
}