
.select-container {
  margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    /*height: 100vh;*/
    /*position: relative;*/
    /*bottom: 200px;*/
    /*margin-top: 10%*/
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Changement de positionnement */
}

.input {
    margin-bottom: 10px;
}

.submit-button {
    margin-top: 20px;
}

